{% extends 'base.html' %}

{% block title %}Edit Post{% endblock title %}

{% block content %}
<h1 class="text-center">Edit Post</h1>

<form method="post">
    {{ form.csrf_token }}
    <div class="formgroup">
        {{ form.title.label }}
        {{ form.title(class='form-control', value=post.title) }}

        {{ form.body.label }}
        {{ form.body(class='form-control', value=post.body) }}

        {{ form.submit(class='btn btn-primary w-100 mt-3') }}
    </div>

</form>

{% endblock content %}